
{% extends "polls/base.html" %}
{% block mytitle %}{{ question.text }}{% endblock %}
{% block mycontent %}

<center>
<h1>{{ question.text }}</h1>
<form action="/polls/{{ question.id }}/vote/" method="post">
    {% csrf_token %}
    {% for ch in question.choice_set.all %}
        <p>
            {{ ch.text }} - {{ ch.vote }}
            <input type="radio" name="choice" value="{{ ch.id }}">
        </p>
    {% endfor %}
    <input type="submit" value="Submit Vote">
</form>
</center>

{%  endblock %}