
{% extends "polls/base.html" %}

{%  block mycontent %}

<h1>hello there from template</h1>

Jinga Templating Language

prints variable {{ hello }}

{% for q in questions %}

    <p> <a href="/polls/{{ q.id }}">{{ q.text }}</a> </p>

{% endfor %}


{% endblock %}

{% block mytitle %}Home Page{% endblock %}

{% block sdgsadkg %}jhbsdjhbajhbjbsadkbasd{% endblock %}
afjkb jkdshjhajhfadsjgh