{% extends "blogs/base.html" %}

{% block content %}
    <div class="card mb-3">
      <img class="card-img-top" src="/media/{{ blog.image }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ blog.title|title }}</h5>
        <p class="card-text">{{ blog.description }}</p>
        <p class="card-text">Views : {{ blog.view }}</p>
        <p class="card-text"><small class="text-muted">{{ blog.created|timesince }}</small></p>
      </div>
    </div>

    <hr>
    <p>Total reviews {{ blog.review_set.all|length }}</p>
    {% for review in blog.review_set.all %}
        <div class="card mb-3">
          <div class="card-header">
            {{ review.rate }} stars
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>{{ review.review }}</p>
              <footer class="blockquote-footer">{{ review.created|timesince }} ago by {{ review.user.username }}</footer>
            </blockquote>
          </div>
        </div>
    {% empty %}
        <h3>No reviews yet</h3>
    {% endfor %}

{#    create form #}
    <hr>
    <p>Write your review</p>
    <form method="post" action="/blogs/{{ blog.id }}/review/">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit Review">
    </form>

{% endblock %}