
{% extends "blogs/base.html" %}

{% block content %}
    <h2>Totle blogs : {{ blogs|length }}</h2>
<div class="row">
    {% for b in blogs %}
        <div class="card col-6">
          <img class="card-img-top" src="/media/{{ b.image }}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ b.title|title }}</h5>
            <p class="card-text">{{ b.description|truncatewords:5 }}</p>
            <p class="card-text">{{ b.created|timesince }}</p>
            <a href="/blogs/{{ b.id }}" class="btn btn-primary">View More</a>
          </div>
        </div>

    {% endfor %}
</div>
{% endblock %}